.contenu
{
	margin-right:auto;
	margin-left: auto;
	width: 80%;
}

.contenu img /* The picture's state changes from opacity 0 to 1 on refresh */
{
	width: 70vw;
}

.contenu p
{
	font-size: 5em;
}

.langs a img
{
	width:10vw;
	
}

.langs
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.desc
{
	font-size: 2em;
}