video
{
	height: auto;
	width: 100vw;
	margin-left:0;
	margin-right:0;
}

.video
{
	width: auto;
}

.cv
{
	margin: 0;
	font-size: 1.8em;
}

.commentaires
{
	margin: 0;
	font-size: 1.5em;
}

.illustration1
{
	display: none;
}

.illustration2
{
	display: none;
}

.commentaire
{
	margin: 0;
}

.menunav ul
{
	margin: 0;
	margin-bottom: 5em;
}

.menunav li
{
	font-size: 2.5em;
}

form 
{
	width: 100%;
}

input, textarea
{
	height:50px;
	padding: 0px;
}

.buttonCGU
{
	height:0px;
}

#msg
{
	height:150px;
}
