#contact
{
	text-decoration:underline;
}

.contform
{
	background-color: #E5E5E5;
	margin: 5em;
	padding: 1em;
	border-radius: 5px;
}

h2
{
	text-align:center;
	border-bottom: rgba(0,0,0,0.2) solid 1px;
	padding-bottom: 0.5em;
	font-size: 2em;
}

form 
{
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-direction: column;
}

form div
{
	margin-top: 2em;
	width: 100%;
}

label 
{
  display: inline-block;
  width: 80%;
}

input, textarea
{
	width: 100%;
	padding: 10px;
	font-size: 1.2em;
	border-color: transparent;
	border-radius: 5px;
}

.button { /* button's div, used to center the button */
	display: flex;
	justify-content: center;
}

.txtbuttonCGU
{
	display: inline;
	vertical-align: baseline;
}

input.buttonCGU
{
	width: auto;
}

.g-recaptcha
{
	display:flex;
	justify-content: center;
	margin-top: 0em;
}
