*
{
 margin: 0;
 padding: 0;
}

body
{
	background-image: url("../../images/background.jpg");
	background-color: black;
	background-attachment: fixed;
	background-position: center;
	color: white;
}

a
{
	color:white;
	font-weight: bold;
	text-decoration:none;
}

.menu
{
	background-color: #272727;
	border-bottom: black solid 3px;
	box-shadow: black 2px 2px 5px;
}


.menu ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 2.5em;
}

.menu li
{
	padding: 1em;
	transition: 0.3s;
	border-left: rgba(255,255,255,0.1) solid 1px;
	border-right: rgba(255,255,255,0.1) solid 1px;
	box-shadow: 2px 0 10px 1px black, -2px 0 10px -1px black;

}

.menu li:hover
{
	background-color: rgba(0,0,0,0.5);
	transition: 0.3s;
	padding-left: 1.3em;
	padding-right: 1.3em;
	margin-left: -0.3em;
	margin-right: -0.3em;
}

footer
{
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	width:100%;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 20vh;

}

footer a
{
	font-weight: bold;
	text-decoration:underline;
}

.socialnetworks
{
	display:flex;
	justify-content: space-evenly;
	margin-left:80%;

}

.reseaux
{
	width: 25px;
	vertical-align: sub;
	margin-left: 15%;
	margin-right: 15%;
}

.errors
{
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}