*
{
 margin: 0;
 padding: 0;
}

body
{
	background-color: white;
	background-attachment: fixed;
	background-position: center;
	color: black;
}

a
{
	color:white;
	font-weight: bold;
	text-decoration:none;
}

header
{
	margin-bottom: 80px;
}
@media (min-width: 1200px){
  .menu ul
  {
    font-size: 2.5em;
  }
}


@media (max-width: 1200px) {
  .menu ul
  {
    font-size: 1.5em;
  }
}

.menu
{
	background-color: #2B75EB;
	border-bottom: black solid 3px;		
	box-shadow: black 2px 2px 5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
	
.menu ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
}

.menu li
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 1em;
	padding-left: 1em;
	transition: 0.3s;
	border-left: rgba(0,0,0,0.5) solid 1px;
	border-right: rgba(0,0,0,0.5) solid 1px;
	margin-left: 50px;
	margin-right: 50px;
	overflow: hidden;
	white-space:nowrap;

}

.menu li:hover
{
	background-color: #57C7FF;
	transition: 0.3s;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

button /* Aspect of the button */
{
	background-color: #2B75EB;
	border: none;
	border-radius: 5px;
	padding: 3px;
	font-size: 1.5em;
	color: white;
	transition:0.3s;
	margin-top: 50px;
	width: 140px;

}

button:hover
{
	transition:0.3s;
	background-color: #57C7FF;
	width: 150px;
}

footer
{
	text-align: center;
	background-color: #2B75EB;
	width:100%;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 20vh;
	color: white;

}

footer a
{
	font-weight: bold;
	text-decoration:underline;
	color: white;
}

.socialnetworks
{
	display:flex;
	justify-content: space-evenly;
	margin-left:80%;
	margin-bottom: 1em;

}

.reseaux
{
	width: 25px;
	vertical-align: sub;
	margin-left: 15%;
	margin-right: 15%;
}

.errorsdiv
{
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
}