#portfolio
{
	text-decoration:underline;
}

.menunav ul
{
	margin: 5em;
	border-bottom: rgba(255,255,255,0.1) solid 1px;
	border-top: rgba(255,255,255,0.1) solid 1px;
	
}

.menunav li
{
	text-align:center;
	background-color:rgba(0,0,0,0.5);
	padding: 1em;
	font-size: 1.1em;
	list-style: none;
	text-decoration: underline;
}

h2
{
	text-align:center;
	border-bottom: rgba(255,255,255,0.2) solid 1px;
	padding-bottom: 0.5em;
	font-size: 2em;
}

.video
{
	border: solid black 2px;
	margin-left:auto;
	margin-right:auto;
	width: 1024px;
	height: 576px;
}

.divideo
{
	margin-left:auto;
	margin-right:auto;
	width: 1024px;
	margin-top: 5em;
	margin-bottom: 5em;
}

.cv
{
	background-color: rgba(0,0,0,0.5);
	margin: 5em;
	padding: 1em;
}

.commentaires
{
	background-color: rgba(0,0,0,0.5);
	margin: 5em;
	padding: 1em;
}

.illustration1
{
	transition:0.5s;
	background-image:url("../../images/illustration1.jpg");
	background-attachment:fixed;
	background-size: cover;
	filter: blur(4px);
	opacity:0.6;
	height: 250px;
}

.illustration1:hover
{
	opacity: 1;
	transition:0.5s;
	filter: blur(0);
}

.illustration2
{
	transition:0.5s;
	background-image:url("../../images/illustration2.jpg");
	background-attachment:fixed;
	background-size: cover;
	filter: blur(4px);
	opacity:0.6;
	height: 250px;
}

.illustration2:hover
{
	opacity: 1;
	transition:0.5s;
	filter: blur(0);
}

form 
{
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-direction: column;
}

form div
{
	margin-top: 1em;
	width: 100%;
}

label 
{
  display: inline-block;
  width: 110px;
}

input, textarea
{
	width: 100%;
}

.button
{ /* button's div, used to center the button */
	display: flex;
	justify-content: center;
}

button /* Aspect of the button */
{
	background-color: grey;
	border-color: #282828;
	padding: 3px;
	padding-left:15px;
	padding-right:15px;
	font-size: 1.5em;
	color: white;
	transition:0.1s;
}

button:hover
{
	transition:0.1s;
	background-color: #393939;
}

.txtbuttonCGU
{
	display: inline;
}

.buttonCGU
{
	width: 10px;
}

.g-recaptcha
{
	display:flex;
	justify-content: center;
	margin-top: 2em;
}

.commentaire
{
	background-color: rgba(0,0,0,0.5);
	margin: 5em;
	padding: 1
}

.com
{
	margin:1em;
	margin-top:80px;
	margin-bottom:80px;
	font-size: 1.2em;
}

.nomentreprise
{
	font-style: italic;
	text-decoration: underline;
	text-align: right;
	margin-right: 5em;
	font-size: 1rem;
}

p 
{
	font-size: 1.3em;
	margin-top: 30px;
	margin-bottom: 30px;
}

article
{
	margin-bottom: 200px;
	border-bottom: rgba(255,255,255,0.2) solid 1px;
}
